body {
	font-family: Oswald, sans-serif;
	}

.topnav {
	align-items: center;
	padding: 15px;
	
}

.nav-links {
	list-style: none;
	display: flex;
}

.nav-links li {
	margin: 0 45px;
}
@media (max-width: 760px) {
.nav-link
	flex-direcrtion: column;
	position: absolute;
.nav-link li (
	text-align: center;
}

